<h1>Password Generator</h1>

<div>
  <label>Length</label>
  <input
    #passLengthEvent
    (input)="onChangeLength(passLengthEvent.value)"
    type="text"
    class="input"
  />
</div>

<div>
  <label>Use letters</label>
  <input
    (change)="onChangeUseLetters()"
    type="checkbox"
    name="letters"
    id="letters"
  />
</div>
<div>
  <label>Use numbers</label>
  <input
    (change)="onChangeUseNumbers()"
    type="checkbox"
    name="numbers"
    id="numbers"
  />
</div>
<div>
  <label>Use symbols</label>
  <input
    (change)="onChangeUseSymbols()"
    type="checkbox"
    name="symbols"
    id="symbols"
  />
</div>

<div>
  <button
    [disabled]="
      !(
        passwordLength &&
        (isIncludedLetters || isIncludedNumbers || isIncludedSymbols)
      )
    "
    class="button"
    (click)="generatePassword()"
  >
    Generate!
  </button>
</div>

<div>
  <label for="">Your Password</label>
  <input type="text" [value]="password" />
</div>
