<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item" [ngClass]="{ disabled: currentPage === 0 }">
      <a class="page-link" href="#">Previous</a>
    </li>
    <li
      class="page-item"
      [ngClass]="{ active: i === currentPage }"
      *ngFor="let image of images; index as i"
    >
      <a class="page-link" href="#">{{ i + 1 }}</a>
    </li>
    <li
      class="page-item"
      [ngClass]="{ disabled: currentPage === images.length - 1 }"
    >
      <a class="page-link" href="#">Next</a>
    </li>
  </ul>
</nav>
<div *ngFor="let image of images" class="container">
  <h2>{{ image.title }}</h2>
  <img [src]="image.url" />
</div>
